.chart-card--performance {
  background: #282d30;
  border-radius: 5px;
}

.chart-card--performance .recharts-polar-grid-concentric-polygon {
  stroke: #fff;
}

@media (width <= 768px) {
  .chart-card--performance .recharts-polar-angle-axis text {
    font-size: 11px;
  }
}

@media (width <= 420px) {
  .chart-card--performance .recharts-polar-angle-axis text {
    font-size: 10px;
  }
}
