.chart-card--sessions {
  background: #f00;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.chart-card--sessions h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  left: 34px;
  line-height: 24px;
  max-width: 150px;
  position: absolute;
  top: 29px;
  z-index: 2;
}

.session-chart {
  margin: 0;
}

.session-overlay {
  background: rgb(0 0 0 / 10%);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.session-tooltip {
  background: #fff;
  color: #000;
  padding: 13px 7px;
  text-align: center;
  white-space: nowrap;
}

.session-tooltip p {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.chart-card--sessions .recharts-text {
  fill: #fff;
  font-weight: 500;
}

@media (width <= 900px) {
  .chart-card--sessions h3 {
    font-size: 14px;
    left: 20px;
    top: 20px;
  }
}

@media (width <= 768px) {
  .chart-card--sessions h3 {
    font-size: 13px;
    left: 14px;
    line-height: 20px;
    top: 14px;
  }
}

@media (width <= 420px) {
  .chart-card--sessions h3 {
    left: 10px;
    top: 10px;
  }
}
