.chart-card--sessions {
  background: #f00;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.chart-card--sessions h3 {
  color: rgb(255 255 255 / 50%);
  font-size: 15px;
  font-weight: 500;
  left: 34px;
  line-height: 24px;
  max-width: 150px;
  position: absolute;
  top: 29px;
  z-index: 2;
}

.session-chart {
  margin: auto auto 0;
}

.session-overlay {
  background: rgb(0 0 0 / 10%);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.session-tooltip {
  background: #fff;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  padding: 1px 7px;
  text-align: center;
  white-space: nowrap;
}

.chart-card--sessions .recharts-text {
  font-weight: 500;
}
